<!DOCTYPE html>
<html amp lang="en">
<head>
    <title>Amp Template</title>
    {{template "_amp_boilerplate.html"}}

    <!-- Import other AMP Extensions here -->
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-vimeo" src="https://cdn.ampproject.org/v0/amp-vimeo-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>

    <!-- Import Fonts Here -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Arvo:400,700|Source+Sans+Pro:700" rel="stylesheet">
</head>
<body>

</body>
</html>

